
{% extends "base.html" %}


{% block style %}
<!-- Extent the styles here -->
<!-- ... -->

{% endblock style %}


{% block main_view %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <!-- Put your content in here -->
    <!-- ... -->
     <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <div class="card-body text-center">
    <h3 class="card-title mb-4">Welcome, {{ user.username }}!</h3>
    <p class="mb-3"><strong>Email:</strong> {{ user.email }}</p>
    <a class="btn btn-outline-secondary" type="button" href="{{ url_for('logout') }}">Logout</a>
</div>
    </div>
</div>
{% endblock main_view %}

{% block script %}
<!-- Extent the scripts here -->
<!-- ... -->

{% endblock script %}
