
{% extends "base.html" %}


{% block style %}
<!-- Extent the styles here -->
<!-- ... -->

{% endblock style %}


{% block main_view %}
<div class="container p-0 m-0" style="background-color: rgb(255, 255, 255); min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%;">
    <!-- Put your content in here -->
    <!-- ... -->
    <h2>Welcome, {{ user.username }}!</h2>
    <p>Email: {{ user.email }}</p>
</div>
{% endblock main_view %}

{% block script %}
<!-- Extent the scripts here -->
<!-- ... -->

{% endblock script %}
