<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
</head>
<body style="margin: 0; padding: 0; min-height: 100vh;">
    <style>
    .table-hover tbody tr:hover {
        background-color: #d3d3d3;
        cursor: pointer;
    }
    /* Highlight for selected row */
    .table-hover tbody tr.selected-row > td{
        background-color: #cfe2ff !important;
    }
    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    </style>
    <div class="row prevent-select" style="margin: 0; padding: 0; min-height: 100vh; max-height: 100vh;">
        <!-- List -->
        <div class="col-6 m-0" style="overflow-y: scroll; overflow-x: scroll; min-height: 100vh; max-height: 100vh; background-color: #f5f5f5; border: none; padding: 0; border-right: 1px solid lightgray;">
            <h1 class="p-3 pb-0 mb-1" style="font-size: x-large;">Parts</h1>
            <p class="mb-3 px-3 py-0">{{ len(parts) }} parts were found.</p>
            <table class="table table-hover" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Part number</th>
                        <th>Material</th>
                        <th>Quantity</th>
                        <th>Supplier</th>
                        <th>Unit price</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for part in parts %}
                    <tr class="part-row" data-model="{{ part.cad_reference.name }}">
                        <td style="min-width: 180px;">{{ part.name }}</td>
                        <td style="min-width: 120px;">{{ part.number }}</td>
                        <td style="min-width: 120px;">{{ part.material }}</td>
                        <td style="min-width: 80px;">{{ part.quantity }}</td>
                        <td style="min-width: 180px;">{{ part.supplier.name }}</td>
                        <td style="min-width: 100px;">{{ part.unit_price }}</td>
                        <td style="min-width: 80px;">{{ part.currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 3D View -->
        <div class="col-6 p-0 m-0" style="min-height: 100vh; max-height: 100vh; background-color: rgb(60, 60, 60);">
            <iframe id="main-view-iframe" src="{% if parts and parts[0].model_filename %}/viewer/{{ parts[0].model_filename}} {% endif %}" frameborder="0" style="min-width: 100%; min-height: 100vh; max-height: 100vh; margin: 0; display: block;"></iframe>
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.part-row').forEach(function(row) {
            row.addEventListener('click', function() {
                // Remove 'selected-row' class from all rows
                document.querySelectorAll('.part-row').forEach(function(r) {
                    r.classList.remove('selected-row');
                });
                // Add 'selected-row' class to the clicked row
                row.classList.add('selected-row');


                var modelFile = this.getAttribute('data-model');
                console.log("Clicked row, model filename: ", modelFile);
                if (modelFile) {
                    var iframe = document.getElementById('main-view-iframe');
                    iframe.src = '/viewer/' + encodeURIComponent(modelFile);
                    console.log("Set iframe src to: " , iframe.src);
                }
            });
    
    
                
        });
    });
    </script>

</body>
</html>