<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New part</title>
</head>
<body>
<h1 class="mb-5">New part</h1>
<form action="{{ url_for('create_part')}}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>{{ form.name.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.name(autocomplete="off") }}</td>
        </tr>
        <tr>
            <td>{{ form.description.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.description(autocomplete="off") }}</td>
        </tr>
        <tr>
            <td>{{ form.number.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.number }}</td>
        </tr>
        <tr>
            <td>{{ form.owner.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.owner }}</td>
        </tr>
        <tr>
            <td>{{ form.material.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.material }}</td>
        </tr>
        <tr>
            <td>{{ form.lead_time.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.lead_time }}</td>
        </tr>
        <tr>
            <td>{{ form.unit_price.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.unit_price }}</td>
        </tr>
        <tr>
            <td>{{ form.file.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.file }}</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top: 2rem;">{{ form.submit(style="min-width:100%;") }}</td>
        </tr>
    </table>
</form>
    
</body>
</html>