<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartsLibrary</title>
</head>
<body>
    <h1>PartsLibrary</h1>
    <span>Commands: </span>
    <ul>
        <li><a href="">Create new part</a></li>
    </ul>
    <h2>ComponentsComponents</h2>
    <ul>
    {% for component_component in components_components %}
        <li>{{ component_component }}</li>
    {% endfor %}
    </ul>
    <h2>Components</h2>
    <ul>
    {% for component in components %}
        <li>{{ component }}</li>
    {% endfor %}
    </ul>
    <h2>Parts</h2>
    <ul>
    {% for part in parts %}
        <li>{{ part }}</li>
    {% endfor %}
    </ul>
    <h2>Suppliers</h2>
    <ul>
    {% for supplier in suppliers %}
        <li>{{ supplier }}</li>
    {% endfor %}
    </ul>
    <h2>Files</h2>
    <ul>
    {% for file in files %}
        <li>{{ file }}</li>
    {% endfor %}
    </ul>
</body>
</html>