{% extends "base.html" %}
{% block main_view %}
<div class="container col-x1-4 py-5" style="height: 75vh; overflow-y: auto;">
    <h4 class="mb-3">Settings</h4>
    <form method="POST">
        <div class="mb-3">
            <label for="freecad_gui_path" class="form-label">FreeCAD (GUI) Executable Path</label>
            <input type="text" class="form-control" name="freecad_gui_path" value="{{ settings.executables.FreeCAD_GUI }}">
        </div>
        <div class="mb-3">
            <label for="freecad_cmd_path" class="form-label">FreeCAD (CMD) Executable Path</label>
            <input type="text" class="form-control" name="freecad_cmd_path" value="{{ settings.executables.FreeCAD_CMD }}">
        </div>
        <div class="mb-3">
            <label for="prepomax_path" class="form-label">PrePoMax Executable Path</label>
            <input type="text" class="form-control" name="prepomax_path" value="{{ settings.executables.PrePoMax }}">
        </div>
        <div class="mb-3">
            <label for="libreoffice_writer_path" class="form-label">LibreOffice Writer Executable Path</label>
            <input type="text" class="form-control" name="libreoffice_writer_path" value="{{ settings.executables.LibreOffice_Writer }}">
        </div>
        <div class="mb-3">
            <label for="libreoffice_calc_path" class="form-label">LibreOffice Calc Executable Path</label>
            <input type="text" class="form-control" name="libreoffice_calc_path" value="{{ settings.executables.LibreOffice_Calc }}">
        </div>
        <div class="mb-3">
            <label for="libreoffice_impress_path" class="form-label">LibreOffice Impress Executable Path</label>
            <input type="text" class="form-control" name="libreoffice_impress_path" value="{{ settings.executables.LibreOffice_Impress }}">
        </div>
        <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
        
</div>
{% endblock %}