{% extends "base-row-list.html" %}


{% block style %}
<!-- Extent the styles here -->
<!-- ... -->
{% endblock style %}

{% block function_buttons %}
<!-- Add your function buttons here -->
<!-- ... -->
{% endblock function_buttons %}

{% block view_buttons %}
<!-- Add your view buttons here -->
<!-- ... -->
{% endblock view_buttons %}

{% block main_view_content_list %}
<!-- Add your main view content here -->
<!-- ... -->
{% endblock main_view_content_list %}

{% block main_view_content_preview %}
<!-- Add your main view content here -->
<!-- ... -->
{% endblock main_view_content_preview %}

{% block script %}
<!-- Extent the scripts here -->
<!-- ... -->
{% endblock script %}