{% extends "base-row-list.html" %}


{% block style %}
<style>
.table-hover tbody tr:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

/* Highlight for selected row */
.table-hover tbody tr.selected-row > td{
    background-color: #cfe2ff !important;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

tbody tr td {
    white-space: nowrap;   /* keep text on one line */
    overflow: hidden;      /* hide the extra text */
    text-overflow: ellipsis; /* show ... at the end */
}
</style>
{% endblock style %}

{% block function_buttons %}
<a type="button" class="btn btn-outline-secondary btn-sm" href="{{ url_for('create_part') }}" style="font-size: smaller;">
    <img src="{{ url_for('static', filename = 'bootstrap-icons-1.11.3/plus.svg') }}" width="20" height="20">New part
</a>
{% endblock function_buttons %}

{% block view_buttons %}
<a type="button" class="btn btn-outline-secondary btn-sm " href="#" onclick="setListView()">
    <img class="pb-1" src="{{ url_for('static', filename = 'bootstrap-icons-1.11.3/list.svg') }}" width="16" height="16">
</a>
<a type="button" class="btn btn-outline-secondary btn-sm " href="#" onclick="setPreviewView()">
    <img class="pb-1" src="{{ url_for('static', filename = 'bootstrap-icons-1.11.3/layout-split.svg') }}" width="16" height="16">
</a>
{% endblock view_buttons %}

{% block main_view_content_list %}
<script>
function addPartToBucket(uuid){
    partsBucket.push(uuid);
    console.log('Added part to bucket.')
}
</script>
<h1 class="p-3 pb-0 mb-1" style="font-size: x-large;">Parts</h1>
<p class="mb-3 px-3 py-0">{{ len(parts) }} parts were found.</p>
<table class="table table-hover" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Part number</th>
            <th>Material</th>
            <th>Supplier</th>
            <th>Unit price</th>
            <th>Description</th>
            <th>Lifecycle state</th>
            <th>Revision</th>
        </tr>
    </thead>
    <tbody>
        {% for part in parts %}
        <tr class="part-row" data-model="{{ part.cad_reference.uuid }}.FCStd">
            <td style="min-width: 100px; max-width: 100px;">
                <a type="button" class="btn btn-outline-secondary btn-sm" href="{{ url_for('part_view', uuid = part.uuid ) }}">
                    <img class="pb-1" src="{{ url_for('static', filename = 'bootstrap-icons-1.11.3/eye.svg') }}" width="18" height="18">
                </a>
                <button type="button" data-uuid="{{ part.uuid }}" class="btn btn-outline-secondary btn-sm add-part-to-bucket-button">
                    <img class="pb-1" src="{{ url_for('static', filename = 'bootstrap-icons-1.11.3/plus.svg') }}" width="20" height="20">
                </button>
            </td>
            <td style="min-width: 260px; max-width: 260px;">{{ part.name }}</td>
            <td style="min-width: 120px; max-width: 120px;">{{ part.number }}</td>
            <td style="min-width: 120px; max-width: 120px;">{{ part.material }}</td>
            <td style="min-width: 220px; max-width: 220px;">{{ part.supplier.name }}</td>
            <td style="min-width: 100px; max-width: 100px;">{{ part.unit_price }} {{ part.currency }}</td>
            <td style="min-width: 300px; max-width: 300px;">{{ part.description }}</td>
            <td style="min-width: 140px; max-width: 140px;">{{ part.lifecycle_state }}</td>
            <td style="min-width: 80px; max-width: 80px;">{{ part.revision }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main_view_content_list %}

{% block main_view_content_preview %}
<iframe id="main-view-iframe" src="" frameborder="0" style="min-width: 100%; min-height: 100%; max-height: 100%; margin: 0; display: block;"></iframe>
{% endblock main_view_content_preview %}

{% block script %}
<script>
function addPartToBucket(uuid){
    partsBucket.push(uuid);
    console.log('Added part to bucket.')
    console.log(partsBucket)
}

var main_view_list_col = document.getElementById('main-view-list-col');
var main_view_preview_col = document.getElementById('main-view-preview-col');

function setListView(){
    main_view_list_col.classList.remove('col-6');
    main_view_list_col.classList.remove('col-12');
    main_view_preview_col.classList.remove('col-6');
    main_view_preview_col.classList.remove('col-12');
    main_view_list_col.classList.add('col-12');
    main_view_preview_col.style.display = "none";
    main_view_list_col.style.overflow = "scroll";
}

function setPreviewView(){
    main_view_list_col.classList.remove('col-6');
    main_view_list_col.classList.remove('col-12');
    main_view_preview_col.classList.remove('col-6');
    main_view_preview_col.classList.remove('col-12');
    main_view_list_col.classList.add('col-6');
    main_view_preview_col.classList.add('col-6');
    main_view_preview_col.style.display = "block";
}

document.addEventListener('DOMContentLoaded', function() {
    var iframe = document.getElementById('main-view-iframe');
    document.querySelectorAll('.part-row').forEach(function(row, event) {
        row.addEventListener('click', function(event) {
            event.stopPropagation(); // prevent the row click from firing
            setPreviewView();

            // Remove 'selected-row' class from all rows
            document.querySelectorAll('.part-row').forEach(function(r) {
                r.classList.remove('selected-row');
            });

            // Add 'selected-row' class to the clicked row
            row.classList.add('selected-row');

            // Load CAD file name from data-model attribute and load it in the iframe
            var modelFile = this.getAttribute('data-model');
            console.log("Clicked row, model filename: ", modelFile);
            if (modelFile) {
                iframe.src = '/viewer/' + encodeURIComponent(modelFile);
                console.log("Set iframe src to: " , iframe.src);
            }
        }); 
    });
    const addButtons = document.querySelectorAll(".add-part-to-bucket-button");
    
    // Add click listener to each button
    addButtons.forEach(button => {
        button.addEventListener("click", function(event) {
            event.stopPropagation(); // prevent the row click from firing
            var partUUID = this.getAttribute('data-uuid');
            if (partUUID) {
                addPartToBucket(partUUID)
            }
        });
    });
});
</script>
{% endblock script %}
